*{margin:0;padding: 0; font-family: Arial;}

body {
    background: url(football-soccer-on-grass-and-wood-background-veeradech-triwatcharanon.jpg) 0 0 no-repeat fixed;
    background-size: 100% 100%;
        
    
}

h1 {
    
    color:black;
    text-align: center;
    position: absolute;
    top:auto
    
}

.header {
    text-align: center;
}
h2{
    text-align: center;
}
h3 {
    color:white;
}

.info {
     color: black;
    
    padding: 50px;
}

img {
    margin: 0px;
    width: 100%;
    max-height: 250px;
    left: 100px;
    top: 150px;
}

span {
    color: red;
}
.menu ul li{
    float: left;
    background: green;
    padding: 10px;
    list-style: none;
   border-color: crimson;
    margin: 0 10px 0 10px;
    
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
     
}

.menu p:hover {
    animation: spin .5s forwards;
}

        @keyframes spin {

            

            100%{

                transform: scale(1.2);

            }

        }

.logo {
    width: 6%;
    margin-top: 20px;
   display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

iframe{
    width: 50px;
    height: 50px;   
}

.rules {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: black;
}

.num {
    list-style: disc;
}

.schedule {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.schedule table {
    width:500px;
}

.schedule table td{
    padding: 15px;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
}

.form {
    text-align: center;

}

.rego {
    
    padding: 70px;
}

.soccer {
  background: url(http://upload.wikimedia.org/wikipedia/en/e/ec/Soccer_ball.svg);
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  position: relative;
  -webkit-animation:roll 4.5s infinite;
  -moz-animation:roll 4.5s infinite;
  animation:roll 4.5s infinite;
}

@-moz-keyframes roll {  
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}
@-webkit-keyframes roll { 
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}

@keyframes roll { 
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}

.world-cup {
  color: #82AE6F;
  text-align: center;
}


iframe{
    height: 500px;
    width: 500px;
    
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 20px;
}

.submit-button {
    width: 20%;
    text-align: center;
    flex-flow: row;
}
.table-data{
    text-align: center;
    border: 1px;
        width: 50%;
       margin: 30px auto 0px;  
    border-collapse: collapse;
}
.table-data td, th{
    border: 1px solid black;
}

@media only screen and (min-width: 360px) {
    .container {     
        display: block;
    }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
    .container {     
        padding: 0px 20px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
     .schedule {     
        padding: 20px 0px 0px;
         width: 20px;
         font-size: 16px;
         padding: 20px 0px 0px;
width: 20px;
font-size: 16px;
margin: 100px;
         
    }
    
    .play {
        padding: 20px 0px 0px;
         width: 20px;
         font-size: 16px;
         padding: 20px 0px 0px;
width: 20px;
font-size: 16px;
margin: 100px;
        
    }
    
    .rego {
        padding: 100px;
    }
    
    
}
